Source: goproxy
Section: net
Priority: extra
Maintainer: Shell Xu <shell909090@gmail.com>
Build-Depends: debhelper (>= 10.0.0), dh-systemd (>= 10)
Standards-Version: 4.1.1
Homepage: https://github.com/shell909090/goproxy

Package: goproxy
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GFW circumvention proxy.
 goproxy is a GFW circumvention proxy written by go. Connection can be
 encrypted by aes, des or TLS. It might be helpful for people live in
 China to circumvent the GFW.